# Data Science tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that data scientists use
- Commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. MatplotLib


|Data Science Tools |
------------------
Jyputer Notebook   
RStudio            
Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Author 
Deepti Dhanapala

C:\Users\dimpl